html,
body {
    min-height: 100vh;
}

main {
    min-height: calc(100vh - calc(72px + 120px)) !important;
}

p {
    margin: 0;
}

section {
    padding: 2em;
}

.text-center {
    text-align: center;
}

.page-title {
    width: max-content;
}

.clickable-row {
    cursor: pointer;
}

.clickable-row:hover {
    background-color: rgb(243, 240, 240);
}